
  <div class="about-content row">

  <div class="col-sm-6">
    <h1>How Skilled Am I?</h1>

    <ul>
      <% @skills.each do |skill| %>
        <li><%= link_to skill.name, skill_path(skill) %>
          <% if current_user && current_user.admin %>
            <%= link_to image_tag("trash-can.png"), skill_path(skill), class:"delete",
                             :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %> |
            <%= link_to image_tag("pencil.png"), edit_skill_path(skill), class:"delete" %></li>
        <% end %>
      <% end %>
    </ul>
    <% if current_user && current_user.admin %>
      <%= link_to "Add a Skill", new_skill_path %>
    <% end %>
    </div>
  </div>
