  <div class="about-content row">
      <div class="col-sm-4">
        <div class="image-div">
        </div>
      </div>

      <div class="about-text col-sm-8">
        <h1>About</h1>
        <p class="about-text">Erin Here! I am a full stack web developer with professional
        front-end experience, a brain full of back-end knowledge, a
        mechanical engineering background, and a crazy awesome work ethic.
        You should probably just go ahead and hire me now.</p>
        <ul>
          <li><b>Phone</b> 407-446-1730</li>
          <li><b>Email</b> erincollinsthethird@gmail.com</li>
        </ul>
        
      </div>
