@import "bootstrap-sprockets";
@import "bootstrap";

.image-div {
  background-image: url('erin-picture.jpg');
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.delete img{
  height: 20px;
}
